_\[{{ mode_badge | telegram_md_escape }}\]_
{{ machine_emoji }} *{{ machine_id | telegram_md_escape }}*
🔴 *\[discovery\_cycle\_failed\]* ERROR

{{ body | telegram_md_escape }}

_Voir les logs structurés pour le traceback complet\._
