_\[{{ mode_badge | telegram_md_escape }}\]_
{{ machine_emoji }} *{{ machine_id | telegram_md_escape }}*
🟡 *\[discovery\_cap\_reached\]* WARNING

{{ body | telegram_md_escape }}

_Relever `MAX_ACTIVE_TRADERS` ou démoter un wallet existant\._
