_\[{{ mode_badge | telegram_md_escape }}\]_
{{ machine_emoji }} *{{ machine_id | telegram_md_escape }}*
🚨 *\[executor\_auth\_fatal\]* CRITICAL

{{ body | telegram_md_escape }}

_Action requise :_ vérifier `POLYMARKET_PRIVATE_KEY`, `POLYMARKET_FUNDER` et `POLYMARKET_SIGNATURE_TYPE`\.
{% if dashboard_url %}
[📊 Dashboard]({{ dashboard_url }})
{% endif %}
