_\[{{ mode_badge | telegram_md_escape }}\]_
{{ machine_emoji }} *{{ machine_id | telegram_md_escape }}*
{{ emoji }} *\[{{ event_type | telegram_md_escape }}\]*
{{ body | telegram_md_escape }}
{% if dashboard_url %}

[📊 Dashboard]({{ dashboard_url }})
{% endif %}
