💚 *polycopy actif*
Depuis _{{ uptime_human | telegram_md_escape }}_ \(heartbeat \#{{ heartbeat_index }}\)
_{{ watcher_count }} wallets, {{ positions_open }} positions ouvertes_
_Silencieux, aucune alerte critique sur la fenêtre\._
